@page "/"

<h1>Covid19 Vaccine Slot Booking</h1>

    This is simple project which help you to find slot of vaccine in Delhi . Just Enter according to requirement and it will get you slots. 

    <SurveyPrompt Title="2 Gaj ki dorri and mask jaruri" />
